.error__search{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__error{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    text-transform: uppercase;
}
.img__error{
    display: flex;
    justify-content: center;
    align-items: center;

}