body{
    margin: 0 auto;
    overflow: hidden;
}
.row__autoriztion{
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 100%;
}

.auth__left,
.outh__right {
    height: 100vh;
    background: #C2E6FA;
}
.auth__left{
    padding: 0 40px;
    transition: .5s;
    height: 100vh;
    background: #C2E6FA;
    overflow-y: scroll;
    min-width: 310px;
}

.outh__right {
    margin: 20px;
    border-radius: 10px;
    /* min-height: 1063px; */
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.outh__circle{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 10.5%;
    bottom: 5%;
    background: url('../../../img/Ellipse.svg');
    border: 20px solid white;
    border-radius: 100%;
}
.outh__right{
    display: flex;
    justify-content: center;
    align-items: center;

}
.auth__title{
    font-size: 45px;
    color: white;
}
.auth__inputs{
    width: 200px;
    margin: 100px auto 0;
}
.auth__inputs input{
    outline: none;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 190px;
    font-size: 20px;
    padding: 5px;

}

.title__input{
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 21px;
    font-weight: bold;
}
.button__log{
    width: 200px;
    height: 40px;
    margin: 70px auto 0;
    background: #AAD700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.error_autoriztion{
    background: #ff000040;
    border: 2px solid red;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px auto 0;
}
@media (max-width: 1350px){
    .outh__circle{
        display: none;
    }
    .outh__right{
        position: fixed;
        width: 100%;
        min-height: 100px;
        height: 100%;
        margin: 0;
    }
}