.usersOnline{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titile__page{
    font-size: 35px;
}

.titles{
    font-weight: bold;
}
.titles div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__line{
    display: grid;
    grid-template-columns: 20px 80px  1fr 150px 150px 150px;
    align-items: center;
    background: #8080802e;
    padding: 8px;
    margin: 10px auto;
    border-radius: 10px;
}

.user__count{
    font-weight: bold;
}
.user__img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__img img{
    width: 130%;
}

.user__name{
    font-size: 20px;
    padding: 0 15px;
}
.settings__user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
.settings__user svg{
    cursor: pointer;
}
.user__status,
.user__department{
    text-align: center;
}
.header__users{
    display: flex;
    justify-content: space-between;
}
.add__users{
    /* background: #092a5e; */
    color: white;
    margin-right: 10px;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor:pointer;
    font-size: 35px;
}
.delite_user svg{
    fill: #d40e14!important;
}
.titile__users-online{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0 10px;
    text-align: center;
}

.user_online{
    text-align: center;
}

.user__photo img{
    width: 100%;
}

.user__photo{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}
.user__name{
    font-size: 1em
}
.disconnect__user svg{
    fill: red;
}

.user__active svg{
    fill: green;
}

