
.header__menu{
    background: white;;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 20px solid white;
    border-bottom:0;
    /* position: sticky;
    top: 0; */
}
.header__right,
.header__left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.name, .surname{
    margin-right: 10px;
    font-weight: bold;
}
.header__left{
    flex-basis: 365px;
    height: 64px;
    background: #C2E6FA;
    font-weight: bold;
    border-radius: 10px;
    font-size: 35px;
}
.count__icons{
    position: absolute;
    right: -8px;
    top: 0;
    background: red;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.icons__top{
    cursor: pointer;
    position: relative;
    text-align: center;
    
}

.photo{
    background: gray;
    overflow: hidden;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    width: 110%;
}
.icon__text{
    font-size: 15px;
}
.item__icon{
    font-size: 45px;
}

.row-info__user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__right{
    cursor: pointer;
}
.user__department{
    text-transform: uppercase;
}