.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__profile .tab{
    border: 2px solid #092a5e;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
}
.profile__photo{
    position: relative;
    overflow: hidden;
}

.update__photo{
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background: #092a5e63;
    opacity: 0;
    font-size: 30px;
    transition: .5s;
}

.profile__photo:hover .update__photo{
    bottom: 0px;
    opacity: 1;
}

.update__photo svg{
    fill: white;
    cursor: pointer;
}
.profile__photo img{
    width: 100%;
}
.description__profile{
    display: grid;
    grid-template-columns: 20% 1fr;
    margin: 20px 0;
}
.prfotile__info{
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    padding: 0 20px;
    font-size: 20px;
}
.name__title,
.surname__title,
.department__title,
.role__title{
    font-weight: bold;
    padding-right: 5px;
    justify-content: left;
}
.user__informations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 2px solid white;
}
.user__data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}

.user_value{
    text-transform: uppercase;
    justify-content: left;
}
.column__title,
.save__button{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    
}
.column__title{
    font-weight: bold;
    align-items: flex-start;
}

.save__button{
    /* border-radius: 100%; */
    background: #092a5e; 
    color: white;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: auto auto;
    cursor: pointer;
}

.user__data input{
    font-size: 19px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px 10px 0 0;
}

.error__password{
    color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.update__password{
    color: green;
    justify-content: center;
    align-items: center;
    display: grid;
}