.banners_list{
    padding: 10px 0;
    border-bottom: 1px solid #c2e6fa;
    display: grid;
    grid-template-columns: 30px 30px 40% 1fr 1fr 1fr 1fr 150px 160px;
}
.banners_list div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banners_list .banner__name{
    justify-content: flex-start;
}
.banner__name-text:hover{
    text-decoration: underline;
}

.changes__all div:hover{
    background: #092A5E;
    color: white;
}

.banners_list-title{
    display: grid;
    grid-template-columns: 30px 30px 40% 1fr 1fr 1fr 1fr 150px 160px;
    padding: 20px 5px;
}
.banners_list-title div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner__changes svg{
    fill: green;
    cursor: pointer;
}

.banners_list .crs{
    cursor: pointer;
}

.banners_list .active svg{
    fill: green;
}
.banners_list .disable svg{
    fill: red;
}

.banners__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.banners__footer .changes__all{
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 20px;
}

.banners__footer .changes__all svg{
    fill: red;
    margin-right: 5px;


}

.changes__all div{
    border:1px solid #092a5e;;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check_row{
    background: #e2ecf3!important;
}

.banner__preview{
    cursor: pointer;
    position: static;
    transition: .3s;
}
.banner__preview:hover img{
    position: fixed;
    top: 0;
    right:0;
    height: 300px!important;
    z-index: 2;
}
.back_white{
    background: white;
    border-radius: 5px;
    padding: 10px;
    height: 668px!important;
    overflow: hidden;
}

.errors__filters-banners{
    color: red;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.rowTypesBanners{
    display: flex;
}
.editBannersSites{
    min-width: 445px;
    border-right: 2px solid white;
    margin: 5px 15px 0 0;
}