.row_buttons-regions{
    display: flex;
    flex-wrap: wrap;
}
.button__region{
    flex-basis: 100px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    background: white;
}

.active_region{
    background: #092A5E;
    color: white;
}