
div::selection{
    background: transparent;
}
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-button { height: 0; }
::-webkit-scrollbar-track-piece { background-color: transparent;}
::-webkit-scrollbar-thumb { 
    height: 50px; 
    background-color: #092A5E; 
    border-radius: 5px;
    overflow: hidden;
}

.home_body{
    border: 20px solid white;
    
}
.row__info{
    border: 20px solid #C2E6FA;;
    border-radius: 20px;
    height: inherit;
    background: #C2E6FA;
}
a{
    text-decoration: none;
}
.activeMenuBlock{
    background: #FFF7C0;
}
.user{
    width: 50px;
    height: 50px;
    background: red;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}
.Preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    /* margin: 20% auto; */
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    top: 0;
    background: #ffffff91;
}

.pagination, .buttons__navigation{
    display: flex;
}
.pagination .number-page{
    border: 1px solid #092a5e;
    margin: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons__navigation div{
    width: 25px;
    height: 25px;
    border: 1px solid #092a5e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.buttons__navigation div svg{
    width: 100%;
}

.buttons__navigation div:hover{
    background: #092a5e;
    color: white;
}
.buttons__navigation div:hover svg{
    fill: white;
}
.acive-page{
    background: #092a5e;
    color: white;
}
#copy{
    position: absolute;
    left: -1000px;
}

.menu__mobile{
    font-size: 40px;
    width: 40px;
    height: 40px;
    background: gray;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 0px;
    top:0;
    z-index: 2;
}
.disable__button{
    color: gray!important;
    border-color: gray!important;
    cursor: default!important;
}
.disable__button svg{
    fill: gray!important;
}
.disable__button:hover{
    background: none!important;

}
@media (max-width: 1350px){
    .menu__mobile{
        display: flex;
    }
    .row__autoriztion{
        display: block;
    }
    .auth__left{
        position: absolute;
    }
}