.row_buttons{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.button__blue{
    flex-basis: 100px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #092A5E;
    border-radius: 5px;
    /* font-weight: bold; */
    font-size: 17px;
    cursor: pointer;
}

.button__blue-active{
    background: #092A5E;
    color: white;
}
.row_buttons .active_button{
    background: #092A5E;
    color: white;
}
.header__banners{
    display: grid;
    grid-template-columns: 45% 28% 1fr 200px;
    grid-gap: 20px;
    position: sticky;
    top: 0;
    background: #C2E6FA;
}
.add__banner{
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-top: 20px
}

.button__blue:hover{
    background: #092A5E;
    color: white;
}
.add__banner span{
    font-size: 20px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center */
}
.add__banner svg{
    cursor: pointer;
}