
select{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bRight{
    border-right: 2px solid white;
    padding-right: 50px;
}

.idit__banners-row{
    position: relative;
}
.edit__description{
    display: grid;
    grid-template-columns: 55% 1fr 1fr;
    grid-gap: 30px;
}
.edit-description-left{
    border-right: 2px solid white;
    padding-right: 50px;
}

.edit__name{
    width: 100%;
    font-size: 19px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.date-button{
    outline: none;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: #092A5E;
    height: 25px;
    width: 60px;
    font-weight: bold;
}
.date-input{
    height: 25px;
    cursor: pointer;
}
.vis__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px auto;
    background: white;
}
.vis__img img{
    height: 100%;
}
.edit__img{
    padding: 10px 0;
}

#inputFileToLoad{
    display: none;
}
.button_download_img{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #092A5E;
    border-radius: 5px;
    cursor: pointer;

}
.button_download_img:hover{
    background: #092A5E;
    color: white;
}
.buttons__img{
    display: flex;
    justify-content: flex-end;
}
.buttons__img .button_download_img{
    margin-left: 10px;
}
.buttons__result{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0;
}
.save{
    background:#AAD700;
}
.delete{
    background: #EF0000;
}
.visibility__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
}
.visibility_buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
.visibility_buttons div{
    background: white;
    border-radius: 5px;
    flex-basis: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.visibility_true{
    background: #092A5E!important;
}
.vis__true svg{
    fill: #AAD700;
}
.vis__false svg{
    fill: #EF0000!important;
}
.serial-number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.serial-number__text{
    margin-right: 15px;
}
.serial-number input {
    width: 50px;
    height: 25px;
    font-size: 25px;
    outline: none;
}


.buttons__result a{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.save_button{
    background: #AAD700;  
}

.delete_button{
    background: #EF0000;  
}

.delete_button .button__text{
    color: white;
}

.delete_button svg{
    fill: white;
}

.button__text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
.row_inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row_inputs div{
    flex-basis: 48%;
    min-width: 300px;
}