.logo{
    padding: 0 0 34px;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo__text span{
    color: white;
    font-size: 45px;
}