.search__regions{
    width: 98%;
    border: none;
    outline: none;
    padding: 5px 2px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    
}
.row__regions-drop input:hover{
    cursor: pointer;
}

.active__dropList .row__regions-drop{
    background: white;
    padding: 5px;
    margin: 0 auto 10px;
    border-radius: 0 0 5px 5px;
    height: 160px;
    overflow-y: auto;
}
.line__region-disable *{
    color: gray;
}
