
.button__home{
    width: 320px;
    height: 40px;
    color: white;
    border: 3px solid white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigations__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-gap: 10px;
}
.navigation__item{
    height: 110px;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.item__name{
    margin-top: 10px;

}



@media (max-width: 1350px){
    .active__menu-mobile{
        left: 0!important;
    }
    .auth__left{
        position: absolute;
        left: -430px;
        top: 0;
        z-index: 1;
        width: 350px;
    }
    .button__home{
        width: 100%;
    }
}