.row__sendCode{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_send-activeCode{
    border: none;
    outline: none;
    width: 190px;
    height: 25px;
    margin: 20px auto 0;
    font-size: 20px;
    padding: 5px;
}
.button_send-activeCode{
    width: 150px;
    height: 40px;
    margin: 10px auto 0;
    background: #AAD700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}